
 <h2 class="title pb-4">dashboard: your topics</h2><hr>

    </div>

    {{#each topics as |topic|}}
        {{!-- {{> topic-info topic}} --}}
        <div>
            <a href="/dashboard/edit/{{topic.id}}">
            {{topic.title}}
            </a>
        </div>
    {{/each}}


{{!-- <h6 class="pb-4 has-text-centered is-italic">you do not currently have any topics</h6> --}}



<button> <a href="/dashboard/new">Create New Post</a></button>

