<div class="card">
  <div class="card-body">
     <h2>Create Topic</h2>

    <form class="form new-topic-form">
      <div class="form-group">
        <label for="topic-title">Title:</label>
        <input class="form-input" type="text" id="topic-title" />
      </div>
      <div class="form-group">
        <label for="topic-description">Description:</label>
        <textarea class="form-input" type="text" id="topic-description" ></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Topic</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/newTopic.js"></script>